
@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <h1 align="right"><font color="blue">Scoala Europeana de invatare a limbilor straine</font></h1>

</div>
<div class="container" width="500px" margin=0 auto;>

    <img src="~/Content/images/language-school-1.jpg" class="img-responsive" width="100%" border="2" />
</div>