<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.; Initial Catalog=SchoolApp; Integrated Security=True"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=.; Initial Catalog=SchoolApp; Integrated Security=True" name="SQLConnection"/>
  </connectionStrings>
</configuration>

