<div class="container-fluid">
    
    <div class="row 5%">
        <div class="col-md-pull-3">
            <img src="~/Content/images/logo4.jpg" class="img-responsive" />
        </div>
    </div>
</div>

